<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
    <%- include('./partials/nav') %>
  <h1>Full Menu</h1>
 <hr>

  <h2>Mains</h2>
  <% menu.forEach((item,) => { %>
    <% if (item.category === 'mains') { %>
       <p>Dish <%= item.name %>: <br> Price: <%= item.price %> £ <br> Rating:  <%= item.rating %> <br> Details: <%= item.details %></li>
        <% } %>
  <% }); %>

  <h2>Desserts</h2>

  <% menu.forEach((item,) => { %>
    <% if (item.category === 'desserts') { %>
       <p>Dish <%= item.name %>: <br> Price: <%= item.price %> £ <br> Rating:  <%= item.rating %> <br> Details: <%= item.details %></li>
        <% } %>
  <% }); %>

  <h2>Sides</h2>
  <% menu.forEach((item,) => { %>
    <% if (item.category === 'sides') { %>
       <p>Dish <%= item.name %>: <br> Price: <%= item.price %> £ <br> Rating:  <%= item.rating %> <br> Details: <%= item.details %></li>
        <% } %>
  <% }); %>

  <hr>
</body>
</html>
